<script type="text/javascript">
    /*<![CDATA[*/
	var time_filtered_api = function() {

		return {

			//初始化
			init : function() {

				//注册事件
				this.initEvent();

				//初始化表格
				Sys.initTable(

				this.getTableParam()

				);

			},

			initEvent : function() {

                $("#btnSearch").click(function () {
                    Sys.refreshTable(api.getTableParam());
                });
                $("#searchForm").submit(function () {

                    Sys.refreshTable(api.getTableParam());
                    return false;
                });
				//返回链接
				$("#btnBack")
						.click(
								function() {
									location.href = "/index.html";
								});

				
				
			},
			getTableParam : function() {
				return {
					tableId : "tabList",
                    url : '/time_filtered_api/query_by_page.json',
                    queryParams: $("#searchForm").serializeObject(),
                 //   data : str,
					columns : [
					        {
								"field" : "type",
								"title" : "接口类型",
								"align" : "center",
                                "sortable":true
							},
							{
								"field" : "name",
								"title" : "API名称",
								"align" : "center",
                                "sortable":true
							},
							{
								"field" : "description",
								"title" : "描述",
								"align" : "center",
                                "sortable":true
							},
							{
								"field" : "inputParam",
								"title" : "输入参数",
								"align" : "center",
                                "sortable":true
							},
							{
								"field" : "outputParam",
								"title" : "输出参数",
								"align" : "center",
                                "sortable":true
							}

					]

				}

			}

		};

	}();

	//入口
	$(document).ready(function() {

		time_filtered_api.init();

	});
    /*]]>*/
</script>

